<html>
    <head>
        <link rel="stylesheet" type="text/css" href="form.css">
    </head>
    
    <body>
      <div class="wrapper">
        <div class="title">
          Registration Form
        </div>
        <div class="form">
          <form action="success.html">
            <div class="inputfield">
              <label>Nama Lengkap</label>
              <input type="text" class="input" required>
           </div>  
            <div class="inputfield">
              <label>Tempat Lahir</label>
              <input type="text" class="input" required>
           </div>  
           <div class="inputfield">
            <label>Tanggal lahir</label>
            <input type="date" class="input" required>
         </div> 
           <div class="inputfield">
              <label>Password</label>
              <input type="password" class="input" required>
           </div>  
          <div class="inputfield">
              <label>Confirm Password</label>
              <input type="password" class="input" required>
           </div> 
            <div class="inputfield">
              <label>Pilihan Order</label>
              <div class="custom_select">
                <select required>
                  <option value="">Select</option>
                  <option value="male">Raisa</option>
                  <option value="female">Tulus</option>
                  <option value="female">Sheila on 7</option>
                </select>
              </div>
           </div> 
            <div class="inputfield">
              <label>Alamat Email </label>
              <input type="email" class="input" required>
           </div> 
          <div class="inputfield">
              <label>No. Telepon</label>
              <input type="number" class="input" required>
           </div> 
          <div class="inputfield">
              <label>Alamat</label>
              <textarea class="textarea" required></textarea>
           </div> 
          <div class="inputfield">
              <label>Kode Pos</label>
              <input type="number" class="input" required>
           </div> 
          <div class="inputfield terms">
              <label class="check">
                <input type="checkbox" required>
                <span class="checkmark"></span>
              </label>
              <p>Saya menyetujui syarat dan ketentuan</p>
           </div> 
          <div class="inputfield">
            <input type="submit" value="Daftar" class="btn">
          </div>
          </form>
        </div>
      </div>
    </body>
</html>