<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Music</title>
    <link rel="stylesheet" href="style yaw.css" />
  </head>
  <body>
    <nav>
      <div class="layar-dalam">
        <div class="logo">
          <a href="Music.htm"><img src="musicyeh.png" class="putih" /></a>        </div>
        <div class="menu">
          <a href="#" class="tombol-menu">
            <span class="garis"></span>
            <span class="garis"></span>
            <span class="garis"></span>
          </a>
          <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#support">Artist</a></li>
            <li><a href="#aboutus">About</a></li>
            <li><a href="#gallery">Gallery</a></li>
            <li><a href="#blog">News</a></li>
            <li><a href="#team">Genre</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="layar-penuh">
      <header id="home">
        <div class="overlay"></div>
        <video autoplay muted loop>
          <source src="musicyaw.mp4" type="video/mp4" />
        </video>
        <div class="intro">
          <h3>INDONESIAN MUSIC CONCERT</h3>
          <p>
            Indonesia memiliki sejumlah artis ternama, mari kita healing untuk sejukkan hati dan pikiran.
          </p>
          <p>
            <a href="form yaw.html" class="tombol">Order Ticket Now</a>
          </p>
        </div>
      </header>
        <section class="abuabu" id="support">
          <div class="layar-dalam support">
            <div>
              <img src="raisaw.jpg" />
              <h6> Raisa </h6>
              <p>
                Raisa Andriana adalah seorang penyanyi, penulis lagu, dan aktris berkebangsaan Indonesia.
              </p>
            </div>
            <div>
              <img src="tuluss.jpg" />
              <h6>Tulus</h6>
              <p>
                Muhammad Tulus Rusydi adalah penyanyi, pencipta lagu, dan arsitek Indonesia asal Minangkabau. Ia menamatkan studinya di Universitas Katolik Parahyangan.
              </p>
            </div>
            <div>
              <img src="sheilaon7.jpg" />
              <h6>Sheila on 7</h6>
              <p>
                Sheila on 7 adalah grup musik Indonesia yang berdiri pada 6 Mei 1996 di Yogyakarta. Grup band ini pada awalnya adalah sekumpulan anak-anak sekolah dari beberapa SMA di Yogyakarta.
              </p>
            </div>
          </div>
        </section>
        <main>
          <section id="aboutus">
            <div class="layar-dalam">
              <h3>About Us</h3>
              <p class="ringkasan">
                
              </p>
              <div class="konten-isi">
                <p>
                  Sudah lama festival musik Indonesia tidak diselenggarakan akibat adanya covid 19 yang menghebohkan dunia. Maka dari itu, kami sebagai tim yang sangat mengerti masyarakat Indonesia butuh healing. kami mengadakan konser yang semarak! ayo join guys!
                </p>
              </div>
            </div>
          </section>
        <section id="gallery">
          <div><img src="konserHIVI.jpg" /></div>
          <div><img src="konsersheilaon7.jpg" /></div>
          <div><img src="raisakonser.jpeg" /></div>
          <div><img src="maspamkonser.jpg" /></div>
          <div><img src="tuluskonser.jpeg" /></div>
          <div><img src="nadinkonser.jpeg" /></div>
          <div><img src="konserisyana.jpg" /></div>
          <div><img src="juicy-luicy_169.jpeg" /></div>
        </section>
        <section class="quote">
          <div class="layar-dalam">
            <p>Music dengan hangatnya menyimpan segala kenangan dan rindu.</p>
          </div>
        </section>
        
        <section class="abuabu" id="blog">
          <div class="layar-dalam">
            <h3>You may also like</h3>
            <p class="ringkasan">
              Berita terkini mengenai music Indonesia.
            </p>
            <div class="blog">
              <div class="area">
                <div
                  class="gambar"
                  style="background-image: url('billboardindo.jpg')"
                ></div>
                <div class="text">
                  <article>
                    <h4><a href="#">Indonesian Music?</a></h4>
                    <p>
                      Solois Mahen masih perkasa di puncak Chart Billboard Indonesia. Masih mengusung Pura Pura Lupa, Mahen mengalahkan Andmesh dan penyanyi Indonesia lain di tangga Billboard.
                    </p>
                  </article>
                </div>
              </div>
              <div class="area">
                <div
                  class="gambar"
                  style="background-image: url('billboard\ hot\ 100\ 7\ march.jpg')"
                ></div>
                <div class="text">
                  <article>
                    <h4><a href="#"> Music?</a></h4>
                    <p>
                      Pengaruh musik menjadi salah satu gaya hidup yang menggerakan seseorang dalam beraktivitas. here is the top 100 on billboard music in 2021.
                    </p>
                  </article>
                </div>
              </div>
        </section>
        <section id="team">
          <div class="layar-dalam">
            <h3>Genre</h3>
            <p class="ringkasan">
            Dan inilah kami yang membuat acara yang menyenangkan di sekeliling anda.
            </p>
            <div class="tim">
              <div>
                <img src="Jenis-Musik-yang-Disukai-di-Indonesia.jpg" />
                <h6>Genre Musik Indonesia</h6>
                <span>Dangdut | Pop | Daerah | Keroncong | Religi | Jazz | Rock | Lainnya  </span>
              </div>
             
            </div>
          </div>
        </section>
      </main>
      <footer id="contact">
        <div class="layar-dalam">
          <div>
            <h5>Info</h5>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam,
            sunt?
          </div>
          <div>
            <h5>Contact</h5>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam,
            sunt?
          </div>
          <div>
            <h5>Help</h5>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam,
            sunt?
          </div>
          <div>
            <h5>Sitemap</h5>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam,
            sunt?
          </div>
        </div>
        <div class="layar-dalam">
          <div class="copyright">&copy; 2022 Concert Indonesia</div>
        </div>
      </footer>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="javascript.js"></script>
  </body>
</html>
